#spring.application.name=transaction
server : 
  port : 81

# MyBatis 설정
# 파일 다운로드/업로드를 위한 폴더 경로 설정
# 사용할 템플릿 엔진(jsp 등) 설정 등 여러가지를 설정해주는 파일
# => 스프링부트 셋 세부 설정(서버 포트 번호 등)

spring:
  datasource:
    url:
    username:
    password:
    driver-class-name: oracle.jdbc.OracleDriver  # ← 반드시 이걸로!

  thymeleaf:
    prefix: classpath:/templates/
    check-template-location: true
    suffix: .html
    mode: HTML
    cache: false

  devtools:
    livereload:
      enabled: true
    restart:
      enabled: false

mybatis:
  configuration:
    multiple-result-sets-enabled: false
    map-underscore-to-camel-case: true
    call-setters-on-nulls: true
    jdbc-type-for-null: varchar
    default-fetch-size: 500
  mapper-locations: classpath:/mapper/**/*.xml
  type-aliases-package: com.bank.transaction.mapper.*

decorator:
  datasource:
    p6spy:
      enable-logging: true

logging:
  level:
    org.apache.ibatis: WARN
    org.mybatis: WARN