<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>국가정보</title>

    <link rel="stylesheet" type="text/css" th:href="@{/CSS/com/com.css}">
    <link rel="stylesheet" th:href="@{/CSS/com/modal.css}">
    <script type="module" th:src="@{/JS/ntnInfo/ntnInfo.js}" defer></script>
    <script type="text/javascript" th:src="@{/JS/com/comUitl.js}" defer></script>
    <script type="text/javascript" th:src="@{/JS/com/todayUitl.js}" defer></script>
<!--    <script type="text/javascript" th:src="@{/JS/util/fetchUtil.js}" defer></script>-->

    <style>

    </style>
</head>
<body>

<!-- parent.html -->
<div th:replace="./view/fragments/header :: headerFragment"></div>

<section class="card register">
    <h2>국가 정보 - 등록 영역</h2>
        <div class="form-grid">
            <div class="form-group">
                <label for="ntnCd">국가코드</label>
                <input type="text" id="ntnCd" name="ntnCd" maxlength="2">
            </div>

            <div class="form-group">
                <label for="ntnNm">국가명</label>
                <input type="text" id="ntnNm" name="ntnNm">
            </div>

            <div class="form-group">
                <label for="useYn">사용여부</label>
                <select class="input" id="useYn" name="useYn">
                    <option value="Y">사용</option>
                    <option value="N">미사용</option>
                </select>
            </div>

            <div class="form-group">
                <label for="delYn">삭제</label>
                <select class="input" id="delYn" name="delYn">
                    <option value="Y">예</option>
                    <option value="N" selected>아니요</option>
                </select>
            </div>
        </div>

        <div style="margin-top:16px; text-align:right;">
            <button type="button" id="submitBtn" class="btn btn-add">등록하기</button>
        </div>
</section>


<section class="card search">
    <h2>검색 영역</h2>
    <div class="form-grid">
        <div class="form-group">
            <label for="ntnCd">국가코드</label>
            <input type="text" name="ntnCd" maxlength="2">
        </div>

        <div class="form-group">
            <label for="ntnNm">국가명</label>
            <input type="text"  name="ntnNm">
        </div>
    </div>

    <div style="margin-top:16px; text-align:right;">
        <button type="button" id="searchBtn" class="btn btn-search">검색하기</button>
    </div>
</section>

<!--<section class="card list-grid">
    <div class="item" onclick="openModal()">항목 1</div>
    <div class="item" onclick="openModal()">항목 2</div>
    <div class="item" onclick="openModal()">항목 3</div>
    <div class="item" onclick="openModal()">항목 4</div>
    <div class="item" onclick="openModal()">항목 5</div>
    <div class="item" onclick="openModal()">항목 6</div>
</section>-->


<section class="card">
    <h2>데이터 테이블 <span id="countVal"></span> </h2>
    <div class="table-wrapper">
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>국가코드</th>
                <th>국가명</th>
                <th>사용여부</th>
                <th>삭제여부</th>
                <th>관리</th>
            </tr>
            </thead>
            <tbody id="bankList"></tbody>
        </table>
    </div>
</section>


<!--<div class="pagination">-->
<!--    <button>이전</button>-->
<!--    <button>1</button>-->
<!--    <button>2</button>-->
<!--    <button>3</button>-->
<!--    <button>다음</button>-->
<!--</div>-->

<!-- 모달창 -->
<div th:replace="./view/common/modal :: modal"></div>
</body>
</html>