<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>은행정보</title>

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/CSS/com/com.css}">
    <script type="module" th:src="@{/JS/bnInfr/bnInfr.js}" defer></script>
<!--    <script type="text/javascript" th:src="@{/JS/util/fetchUtil.js}" defer></script>-->

    <style>

    </style>
</head>
<body>

<!-- parent.html -->
<div th:replace="./view/fragments/header :: headerFragment"></div>

<section class="card register">
    <h2>은행정보 - 등록 영역</h2>
        <div class="form-grid">
            <div class="form-group">
                <label for="bnCd">은행코드</label>
                <input type="text" id="bnCd" name="bnCd" maxlength="2">
            </div>

            <div class="form-group">
                <label for="bnNm">은행명</label>
                <input type="text" id="bnNm" name="bnNm">
            </div>

            <div class="form-group">
                <label for="useYn">사용여부</label>
                <select class="input" id="useYn" name="useYn">
                    <option value="Y">사용</option>
                    <option value="N">미사용</option>
                </select>
            </div>

            <div class="form-group">
                <label for="delYn">삭제</label>
                <select class="input" id="delYn" name="delYn">
                    <option value="Y">예</option>
                    <option value="N" selected>아니요</option>
                </select>
            </div>
        </div>

        <div style="margin-top:16px; text-align:right;">
            <button type="button" id="submitBtn" class="btn btn-add">등록하기</button>
        </div>
</section>


<section class="card search">
    <h2>검색 영역</h2>
    <div class="form-grid">
        <div class="form-group">
            <label for="bnCd">은행코드</label>
            <input type="text" name="bnCd" maxlength="2">
        </div>

        <div class="form-group">
            <label for="bnNm">은행명</label>
            <input type="text"  name="bnNm">
        </div>
    </div>

    <div style="margin-top:16px; text-align:right;">
        <button type="button" id="searchBtn" class="btn btn-search">검색하기</button>
    </div>
</section>

<!--
<section class="card list-grid">
    <div class="item" onclick="openModal()">항목 1</div>
    <div class="item" onclick="openModal()">항목 2</div>
    <div class="item" onclick="openModal()">항목 3</div>
    <div class="item" onclick="openModal()">항목 4</div>
    <div class="item" onclick="openModal()">항목 5</div>
    <div class="item" onclick="openModal()">항목 6</div>
</section>
-->


<section class="card">
    <h2>데이터 테이블</h2>
    <div class="table-wrapper">
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>은행코드</th>
                <th>은행명</th>
                <th>사용여부</th>
                <th>삭제여부</th>
                <th>관리</th>
            </tr>
            </thead>
            <tbody id="bankList"></tbody>
        </table>
    </div>
</section>


<!--
<div class="pagination">
    <button>이전</button>
    <button>1</button>
    <button>2</button>
    <button>3</button>
    <button>다음</button>
</div>
-->

</body>
</html>